<html>
    <head>
        <script>
            function validForm(f) {
                let executor = f.executor.value;
                if(executor === "Не выбрано") {
                    alert("Пустая форма!");
                    return;
                }
                f.submit();
            }
        </script>    
    </head>
    <body>
        <a href = '..'>Назад</a><br>
        <form action = '/chooseexecutor' method='post'>
            <select name = "executor" onchange="changeSelect()">
                <option>Не выбрано</option>
                {{getExecutors executors}}
            </select>
            <button type='button' onClick="validForm(this.form)">Перейти</button>
        </form>
        </select>
    </body>
</html>